* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Navbar {
  display: flex;
  align-items: center;
  padding-top: 2%;
  padding-left: 3%;
  padding-bottom: 2%;
  background-color: #242424;
}
.Navbar img {
  width: 8vw;
}
.Navbar .a__presentacion {
  text-decoration: none;
  color: white;
  font-family: "Bebas Neue", cursive;
  margin-left: 5%;
  font-size: 3vw;
}
.Navbar .cartContainer {
  display: flex;
  justify-content: end;
  align-items: center;
}
.Navbar .cart {
  display: flex;
  position: relative;
  left: 40vw;
  align-items: center;
}
.Navbar .cart i {
  color: white;
  cursor: pointer;
  width: 30px;
}
.Navbar .cart .count {
  margin-left: 1%;
  color: white;
  font-size: 1.5rem;
}
.Navbar .list {
  display: flex;
  list-style-type: none;
  margin-left: 1vw;
  font-family: "Bebas Neue", cursive;
}
.Navbar .list .link {
  color: grey;
  padding: 10%;
}
.Navbar .list li {
  padding: 5%;
  font-size: 1.5rem;
}
.Navbar .list li:hover {
  text-shadow: 1px 1px 20px white;
}

body .Main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
body .Main .contador {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3rem;
  margin-top: 3%;
}
body .Main .contador button {
  margin: 3%;
  padding: 1%;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: #242424;
  color: white;
  cursor: pointer;
  width: 20%;
  height: 70px;
}
body .Main .agregarAlCarrito {
  display: flex;
  justify-content: center;
}
body .Main .agregarAlCarrito button {
  padding: 5%;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #242424;
  color: white;
  cursor: pointer;
}
body .Main .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body .Main .container .card {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Bebas Neue", cursive;
  font-size: 1.4rem;
  flex-wrap: wrap;
  width: 25%;
  margin-top: 4%;
}
body .Main .container .card img {
  width: 40%;
}
body .Main .container .card p {
  margin-top: 2%;
}
body .Main .container .card .detalle {
  padding: 1%;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #242424;
  color: white;
  cursor: pointer;
}
body .Main .detail {
  display: flex;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.5)), url(https://p4.wallpaperbetter.com/wallpaper/518/375/797/manga-anime-mix-up-hd-wallpaper-preview.jpg);
  color: white;
  text-shadow: 1px 1px 30px black;
  width: 100%;
  position: relative;
  min-height: 78.2vh;
  overflow: hidden;
}
body .Main .detail img {
  width: 23%;
  box-shadow: 1px 1px 10px white;
}
body .Main .detail .contenido-detail {
  margin-top: 4%;
  text-align: center;
  margin-left: 5%;
  height: 100%;
  overflow: hidden;
}
body .Main .detail .contenido-detail h5 {
  font-size: 4rem;
}
body .Main .detail .contenido-detail p {
  text-justify: auto;
  line-height: 1.5;
  max-width: 500px;
  font-size: 1.4rem;
}/*# sourceMappingURL=main.css.map */