.Main{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    color: black;
    h1:hover{
        text-shadow: 1px 5px 10px grey;
        cursor: pointer;
    }
}