.Navbar{
    display: flex;
    align-items: center;
    padding-top: 2%;
    padding-left: 3%;
    padding-bottom: 2%;
    background-color: #242424;
        img{
        width: 8vw;
        }
        .a__presentacion{
            text-decoration: none;
            color: white;
            font-family: 'Bebas Neue', cursive;
            margin-left: 5%;
            font-size: 3vw;
        }
        .cartContainer{
            display: flex;
            justify-content: end;
            align-items: center;
        }
        .cart{
            display: flex;
            position: relative;
            left: 40vw;
            align-items: center;
            i{
                color: white;
                cursor: pointer;
                width: 30px;
            }
            .count{
                margin-left: 1%;
                color: white;
                font-size: 1.5rem;
            }
        }
        .list{
            display: flex;
            list-style-type: none;
            margin-left: 1vw;
            font-family: 'Bebas Neue', cursive;
            .link{
                color: grey;
                padding: 10%;
            }
            li{
                padding: 5%;
                font-size: 1.5rem;
            }
            li:hover{
                text-shadow: 1px 1px 20px white;
            }
            
        }

}